# Dependencies
node_modules/

# Build output
dist/

noholi-locations-1.0.0.tgz

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Environment files
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# Coverage
coverage/

# npm package archives
*.tgz